<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>OAuth2 Flow</title>
  </head>
  <body>
    <div class="layout">
      <header></header>
      <main>
        <button onclick="signIn()">Sign In With Google</button>
      </main>
      <footer></footer>
    </div>
  </body>
  <script src="/static/javascript/bootstrap.bundle.min.js"></script>
  <script src="/static/javascript/script.js"></script>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>OAuth2 Flow</title>
  </head>
  <body>
    <div class="layout">
      <header></header>
      <main>
        <button onclick="signIn()">Sign In With Google</button>
      </main>
      <footer></footer>
    </div>
  </body>
  <script src="/static/javascript/bootstrap.bundle.min.js"></script>
  <script src="/static/javascript/script.js"></script>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>OAuth2 Flow</title>
  </head>
  <body>
    <div class="layout">
      <header></header>
      <main>
        <button onclick="signIn()">Sign In With Google</button>
      </main>
      <footer></footer>
    </div>
  </body>
  <script src="/static/javascript/bootstrap.bundle.min.js"></script>
  <script src="/static/javascript/script.js"></script>
</html>
